.contact-form {
  width: 400px;
}
.contact-form input{
  display: block;
  height: 40px;
  width: 100%;
  margin: 10px 0;
}
.contact-form label {
  text-transform: capitalize;
}

.contact-form textarea {
  width: 100%;
  height: 100px;
}

.contact-form [type="submit"] {
  background-color: #0f0;
}

